body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
}

.to_do_list {
  font-family: Arial, sans-serif;
  margin-left: 40px;
  margin-top: 50px;
}

h1 {
  font-size: 2.6rem;
  margin-left: -8px;
  margin-top: 0px;
  position: sticky;
  z-index: 1;
}

.below_heading {
  margin-top: 70px;
}

input[type='text'] {
  font-size: 1.2rem;
  padding: 12px;
  border: 2px solid rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  color: white;
  height: 20px;
  width: 300px;
  margin-left: 0px;
  margin-bottom: 30px;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: solid;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add_button {
  background-color: rgb(83, 193, 92);
  border-color: green;
  margin-left: 20px;
}

.add_button:hover {
  background-color: rgb(59, 165, 68);
  border-color: black;
}

.delete_button {
  background-color: rgb(242, 51, 13);
  border-color: red;
  margin-left: 250px;
}

.delete_button:hover {
  background-color: rgb(194, 41, 10);
  border-color: black;
}

.task_up_button,
.task_down_button {
  background-color: rgb(234, 231, 231);
  border-color: rgb(174, 189, 194);
}

.task_up_button:hover,
.task_down_button:hover {
  background-color: rgb(186, 221, 228);
  border-color: black;
}

li {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(225, 225, 225);
  margin-left: -40px;
  margin-bottom: 10px;
  border: 3px solid rgba(217, 217, 217, 0.7);
  border-radius: 5px;
  align-items: center;
  color: black;
  width: 100%;
  display: flex;
}

.text {
  white-space: nowrap;
  flex: 1;
}
